
# Ignore sensitive configuration files
Settings.json
BunSiteMap.csv
CopyLog.txt
LastBunNumber.txt
LastRunDate.txt

# Ignore temporary files
*.bak
*.tmp

# Ignore Visual Studio Code settings
.vscode/

# Ignore PowerShell history
ConsoleHost_history.txt
